.elementor-222 .elementor-element.elementor-element-570e7405:not(.elementor-motion-effects-element-type-background), .elementor-222 .elementor-element.elementor-element-570e7405 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#00DED2;}.elementor-222 .elementor-element.elementor-element-570e7405{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:10px 0px 10px 0px;}.elementor-222 .elementor-element.elementor-element-570e7405 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-222 .elementor-element.elementor-element-336702cc.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-222 .elementor-element.elementor-element-336702cc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-222 .elementor-element.elementor-element-336702cc > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-5c8bc2d5{text-align:center;color:#000000;font-family:"Bebas Neue", Sans-serif;font-size:38px;font-weight:900;}.elementor-222 .elementor-element.elementor-element-5c8bc2d5 > .elementor-widget-container{margin:-38px 0px -43px 0px;padding:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-395df2b6 > .elementor-container{max-width:807px;}.elementor-222 .elementor-element.elementor-element-395df2b6 > .elementor-background-overlay{opacity:0.5;}.elementor-222 .elementor-element.elementor-element-24ceba61{text-align:center;}.elementor-222 .elementor-element.elementor-element-24ceba61 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:39px;font-weight:600;}.elementor-222 .elementor-element.elementor-element-24ceba61 > .elementor-widget-container{margin:0px 140px 0px 140px;}.elementor-222 .elementor-element.elementor-element-48c7bf3a{text-align:center;color:#FFFFFF;font-family:"Poppins", Sans-serif;font-size:17px;font-weight:400;}.elementor-222 .elementor-element.elementor-element-48c7bf3a > .elementor-widget-container{margin:-27px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-6f95cf35 .elementor-wrapper{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-222 .elementor-element.elementor-element-6f95cf35 > .elementor-widget-container{border-style:solid;border-color:#00DED2;border-radius:12px 12px 12px 12px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-222 .elementor-element.elementor-element-45657bf7{text-align:center;}.elementor-222 .elementor-element.elementor-element-45657bf7 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:27px;font-weight:600;}.elementor-222 .elementor-element.elementor-element-45657bf7 > .elementor-widget-container{margin:0px 140px 0px 140px;}.elementor-222 .elementor-element.elementor-element-6bd30b24 > .elementor-widget-container{margin:-26px 45px 23px 50px;padding:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-55cbe8b0 .elementor-button{font-family:"Montserrat", Sans-serif;font-weight:900;fill:#000000;color:#000000;background-color:#00DED2;border-radius:17px 17px 17px 17px;}.elementor-222 .elementor-element.elementor-element-65cf67e5{text-align:center;}.elementor-222 .elementor-element.elementor-element-65cf67e5 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:19px;font-weight:600;}.elementor-222 .elementor-element.elementor-element-65cf67e5 > .elementor-widget-container{margin:-26px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-3fc5e7f8{text-align:center;color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-222 .elementor-element.elementor-element-64040359{text-align:center;color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}.elementor-222 .elementor-element.elementor-element-4d54234{text-align:center;color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:12px;font-weight:400;}body.elementor-page-222:not(.elementor-motion-effects-element-type-background), body.elementor-page-222 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}@media(max-width:767px){.elementor-222 .elementor-element.elementor-element-570e7405{padding:10px 30px 10px 30px;}.elementor-222 .elementor-element.elementor-element-5c8bc2d5{font-size:19px;}.elementor-222 .elementor-element.elementor-element-5c8bc2d5 > .elementor-widget-container{margin:-15px 0px -21px 0px;padding:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-24ceba61 .elementor-heading-title{font-size:26px;}.elementor-222 .elementor-element.elementor-element-24ceba61 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-45657bf7 .elementor-heading-title{font-size:26px;}.elementor-222 .elementor-element.elementor-element-45657bf7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-222 .elementor-element.elementor-element-65cf67e5 .elementor-heading-title{font-size:16px;}.elementor-222 .elementor-element.elementor-element-65cf67e5 > .elementor-widget-container{margin:-23px 0px 0px 0px;}body.elementor-page-222:not(.elementor-motion-effects-element-type-background), body.elementor-page-222 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}}/* Start custom CSS for button, class: .elementor-element-55cbe8b0 *//*Botão Pulsa*/
.box-pulse { 

    width:100%; 
    width:250px; 
    margin:0 auto; padding:0 30px;
}

.box-pulse a {
  
  text-decoration:none;
  display: inline-block;
  font-size: 1.1em;
  font-family:Verdana, Geneva, sans-serif;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

}

.botao-pulse {
  padding: 20px 30px;
  color: #fff;
  background-color: #d20000;
  border-radius:3px; 
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

.botao-pulse:hover {
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  
  0% { -o-transform: scale(1); }
  25% { -o-transform: scale(1.1); }
  50% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); } 

}

@keyframes pulse { 

  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

/*Botão Pulsa*//* End custom CSS */
/* Start custom CSS */.pulse {
	animation: pulse 0.7s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 0px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes pulse {
	0% {
	-webkit-transform: scale(1);
}
100% {
	-webkit-transform: scale(1.1);
}
} @keyframes pulse {
	0% {
	transform: scale(1);
}
100% {
	transform: scale(1.1);
}/* End custom CSS */